<header>
    <nav>
      <a href="/">GameLog</a>
      <ul>
        <li><a href="/consoles">Consoles</a></li>
        <li><a href="/consoles/new">Add Console</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/games/new">Add Game</a></li>
      </ul>
    </nav>
  </header>