<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="This is the description">
    <title>GAME LOG | INDEX</title>
    <!-- <link rel="stylesheet" type="text/css" href="Styles/styles.css" media="screen"/> -->
    <link rel="stylesheet" href="css/style.css">
    <script defer src="scripts/script.js"></script>
    <script defer src="scripts/drag-drop.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navElem-container"> 
                <button role="button" class="btn navElem sortBtn">SORT</button>
                <strong><a href="index.html" class="navElem homeBtn">GAME LOG</a></strong>
                <a href="settings.html" target="_self" class="navElem settingsBtn">
                    <img src="Images/settings_gear.png" width=35></a>
            </div>
        </nav>
    </header>
    <section>
        <div class="gameInfo-container" data-game-container>
            <div class="gameInfo container draggable" draggable="true" data-game-blank>
                <img src="Images/blank.jpg" class="gameInfo boxArt">
                <input type="text" value="" placeholder="Game Name" class="gameInfo content blockOne" size=15 maxsize=50>
                <input type="text" value="" placeholder="System" class="gameInfo content blockOne" size=15 maxsize=25>
                <br>
                <span class="gameInfo text">Progress (Hrs):</span>
                <input type="number" value="" placeholder="Curr Hrs" class="gameInfo content blockTwo" maxlength="4" size="4">
                <span class="gameInfo text">Time Left (Hrs)</span>
                <input type="number" value="" placeholder="Hrs Left" class="gameInfo content blockTwo" maxlength="4" size="4">
                <span class="gameInfo text">Total Hrs:</span>
                <input type="number" value="" placeholder="Hrs Total" class="gameInfo content blockTwo" maxlength="4" size="4">
                <br>
                <button role="button" class="btn updateBtn">Update</button>
                <button role="button" class="btn removeBtn" data-remove>Remove?</button>
            </div>
            <div class="gameInfo container draggable" draggable="true">
                <img src="Images/zelda.png" class="gameInfo boxArt">
                <input type="text" value="Zelda" title="Game Name" class="gameInfo content blockOne" size=15 maxsize=50>
                <input type="text" value="Nintendo Switch" title="System" class="gameInfo content blockOne" size=15 maxsize=25>
                <br>
                <span class="gameInfo text">Progress (Hrs):</span>
                <input type="number" value="5" title="Curr Hrs" class="gameInfo content blockTwo" maxlength="4" size="4">
                <span class="gameInfo text">Time Left (Hrs)</span>
                <input type="number" value="25" title="Hrs Left" class="gameInfo content blockTwo" maxlength="4" size="4">
                <span class="gameInfo text">Total Hrs:</span>
                <input type="number" value="30" title="Hrs Total" class="gameInfo content blockTwo" maxlength="4" size="4">
                <br>
                <button role="button" class="btn updateBtn">Update</button>
                <button role="button" class="btn removeBtn">Remove?</button>
            </div>
        </div>
        <div class="addGameContainer">
            <button role="button" class="btn addGameBtn" data-add>Add Game</button>
        </div>
    </section>
    <footer class="footer">
        <div class="footerElem-container">
            <a href="Games/games_all.html" target="_self" class="footerElem allGames">
                <button role="link" class="btn allGamesBtn">My Games (All)</button>
            </a>
            &lt;&gt;
            <a href="Games/games_in_progress.html" target="_self" class="footerElem inProg">
                <button role="link" class="btn inProgBtn">In-Progress</button>
            </a>
            &lt;&gt;
            <a href="Games/games_planned.html" target="_self" class="footerElem planned">
                <button role="link" class="btn plannedBtn">Planned</button>
            </a>
            &lt;&gt;
            <a href="Games/games_completed.html" target="_self" class="footerElem completed">
                <button role="link" class="btn completedBtn">Completed</button>
            </a>
            &lt;&gt;
            <a href="Games/games_search.html" target="_self" class="footerElem search">
                <button role="link" class="btn searchBtn">Search</button>
            </a>
            &lt;&gt;
            <button class="btn logout">Log Out</button>
        </div>
    </footer>

    <template id="game-template">
        <div class="gameInfo container draggable" draggable="true">
            <img src="Images/blank.jpg" class="gameInfo boxArt">
            <input type="text" value="" placeholder="Game Name" class="gameInfo content blockOne" size=15 maxsize=50>
            <input type="text" value="" placeholder="System" class="gameInfo content blockOne" size=15 maxsize=25>
            <br>
            <span class="gameInfo text">Progress (Hrs):</span>
            <input type="number" value="" placeholder="Curr Hrs" class="gameInfo content blockTwo" maxlength="4" size="4">
            <span class="gameInfo text">Time Left (Hrs)</span>
            <input type="number" value="" placeholder="Hrs Left" class="gameInfo content blockTwo" maxlength="4" size="4">
            <span class="gameInfo text">Total Hrs:</span>
            <input type="number" value="" placeholder="Hrs Total" class="gameInfo content blockTwo" maxlength="4" size="4">
            <br>
            <button role="button" class="btn updateBtn">Update</button>
            <button role="button" class="btn removeBtn">Remove?</button>
        </div>
    </template>

</body>
</html>