:root {
    --game-cover-width: 150px;
    --game-cover-width-large: 300px;
    --game-cover-aspect-ratio: .72;
  }
  
  .game-cover {
    width: var(--game-cover-width);
    height: calc(var(--game-cover-width) / var(--game-cover-aspect-ratio));
    transition: all .2s;
  }
  
  .game-cover-large {
    --game-cover-width: var(--game-cover-width-large);
    transition: all .2s;
  }

  .game-cover:hover, .game-cover:focus, .game-cover-large:hover, .game-cover-large:focus {
    transform: scale(1.25);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; }
  
  .game-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--game-cover-width));
  }
  
  .game-grid-large {
    grid-template-columns: repeat(auto-fill, var(--game-cover-width-large));
  }
  
  .game-details {
    display: flex;
  }
  
  .game-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
  }
  
  .game-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin-left: 4rem;
  }
  
  .game-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas:
      "edit delete"
      "console console";
    grid-gap: .5rem;
    margin-top: .5rem;
  }
  
  .game-details-console-button {
    grid-area: console;
    justify-self: stretch;
  }

 a.game-info{
   text-decoration: none;
   font-size: 1.05rem;
   font-weight: 500;
   align-self: flex-start;
   color: var(--color-text-light);
 }
