<!-- views/users/register.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Register - GameLog</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <h1>Register</h1>
  <p>Create a new account on GameLog.</p>
  
  <!-- Registration Form -->
  <form action="/users/register" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button class="login-card-button" type="submit">Register</button>
  </form>
  
  <!-- Link to the login page -->
  <div>
    <p>Already have an account? <a href="/users/login">Log In</a></p>
  </div>
</body>
</html>
