<!-- _form_fields.ejs is underscored because we know it is a partial
file and not an actual file being rendered from the server
it is a naming convention -->

<div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= console.name %>">
    </div>
  </div>
<!-- %= will output html -->