<!-- _form_fields.ejs is underscored because we know it is a partial
file and not an actual file being rendered from the server
it is a naming convention -->

<label>Name</label>
<input type="text" name="name" value="<%= console.name %>">
<!-- %= will output html -->