<h2>New Console</h2>
<form action="/consoles" method="POST">
  <%- include('_form_fields') %>
  <!-- link to a partial -->
  <a href="/consoles">Cancel</a>
  <button type="submit">Create</button>
</form>