<h2 class="page-header"><%= console.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/consoles/<%= console.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/consoles/${console.id}` }) %>
</div>
<% if (gamesByConsole.length > 0) { %>
  <h2 class="page-header">Games By Console</h2>
  <%- include('../partials/gameGrid', { games: gamesByConsole }) %>
<% } %>