<h2><%= console.name %></h2>
<a href="/consoles/<%= console.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            { url: `/consoles/${console.id}` }) %>
<% if (gamesByConsole.length > 0) { %>
  <h2>Games By Console</h2>
  <% gamesByConsole.forEach(game => { %>
    <img height="150" width="100" src="<%= game.coverImagePath %>">
  <% }) %>
<% } %>